.vote {
  width: 30px;
  height: auto;
  margin-left: 5px;
  margin-right: 5px;
}

td input {
  border: none;
}

.lightbulb {
  width: 200px;
  height: auto;
}

#addIdea {
  height: 150px;
}

.addIdeaForm {
  margin-top: 80px;
  margin-bottom: -80px;
}

hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

.trash {
  width: 30px;
  height: auto;
}

.ideaBody {
  display: none;
}

.dimVote {
  opacity: .35;
}
