.vote {
  width: 30px;
  height: auto;
}

td input {
  border: none;
}

.lightbulb {
  width: 200px;
  height: auto;
}

#addIdea {
  height: 150px;
}

.addIdeaForm {
  margin-top: 80px;
  margin-bottom: -80px;
}

hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

.trash {
  width: 30px;
  height: auto;
}

.ideaBody {
  display: none;
}
a:link, a:visited, a:hover, a:focus, a:active {text-decoration: none}
