.vote {
  width: 30px;
  height: auto;
  margin-left: 5px;
  margin-right: 5px;
}

td input {
  border: none;
}

.lightbulb {
  width: 250px;
  height: auto;
  margin-top: -50px;
}

#addIdea {
  height: 150px;
}

.addIdeaForm {
  margin-top: 10px;
  // margin-bottom: -80px;
}

hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

.trash {
  width: 30px;
  height: auto;
}

.ideaBody {
  display: none;
}

.dimVote {
  opacity: .35;
}

@media (max-width: 1200px) {
  .lightbulb {
    width: 200px;
  }
}
@media (max-width: 995px) {
  .lightbulb {
    width: 100px;
  }
}
@media (max-width: 766px) {
  .lightbulb {
    display: none;
  }
}
